# Application
APP_NAME="AI Agri Decision Support Rwanda"
APP_ENV=development
DEBUG=True

# Backend
BACKEND_HOST=0.0.0.0
BACKEND_PORT=8000
SECRET_KEY=change-this-to-a-random-secret-key

# Database
DATABASE_URL=postgresql://postgres:password@localhost:5432/agri_db
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=agri_db
DATABASE_USER=postgres
DATABASE_PASSWORD=password

# Frontend
FRONTEND_API_URL=http://localhost:8000

# ML
MODEL_PATH=ml/artifacts/models/random_forest_v1.pkl
SCALER_PATH=ml/artifacts/encoders/scaler.pkl
ENCODER_PATH=ml/artifacts/encoders/label_encoders.pkl